a {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  background-color: transparent;
  text-decoration: none;
}

a.one{
    color: #4d3ca6;}
a.one:hover{
    color: #fff}

body {
  background-color: #fefae0;
  padding: 40px 40px 40px 40px;
  font-family: Arial, Helvetica, sans-serif;

}
button {
  background-color:#b98c6b;
  border-radius:12px;
  border:solid #cec7c7 1px;
  padding: 12px 28px;
}
/* button:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */
hr {
  border-style: none;
  border-color: #504b44;
  border-width: 5px;
  border-top-style: dotted;
  height: 0;
  width: 5%;
}
h1.scroll {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 85px;

}

h2 {
  color : #000000;
  font-size: 40px;
}
h2.h2-1 {
  text-align: center;
}
h3.h3-0 {
  font-size: 35px;
  text-align: center;
  color: #800080;
  margin-bottom: 0;
}
h3.h3-1 {
  font-size: 35px;
  text-align: center;
  color: #800080;
  margin-bottom: 0;
}
h3.h3-2 {
  font-size: 35px;
  text-align: center;
  color: #800080;
  margin-bottom: 0;
}

li {
  text-align:center;
  font-size: 25px;
  list-style: none;
}

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 9em;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
}
/* p {
  text-align: center;
} */


@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

.table-1 {

}

ul {
    margin-left: 0;
    padding-left: 0;
}
ul li {
   list-style-position: inside;
}

.button-74 {
  background-color: #fff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fbeee0;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.button-75 {
  background-color: #fff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 40px 80px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #4d3ca6;
  text-decoration: none;
}
.button-75:hover {
  background-color: #000000;
  text-decoration: none;
}

.button-75:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
  ;
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 70px;
    padding: 0 25px;
  }

  /* _button-group.scss:80 */
.dropup &::after,
.dropright &::after {
  margin-left: 0;
}

/* _dropdown.scss:43 */
.dropup {
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: $dropdown-spacer;
  }

  .dropdown-toggle {
    @include caret(up);
  }
}
}
